@import 'tailwindcss';
@source '../*.html';
@custom-variant hover (&:hover);

@theme {
  --font-serif: 'Volkhov', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --font-sans: 'Poppins', system-ui, -apple-system, 'Segoe UI', sans-serif;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 33px;
  --text-4xl: 50px;
  --text-5xl: 64px;
  --text-6xl: 84px;

  /* Brand Colors  */
  --color-brand-orange: #df6951;
  --color-brand-yellow: #f1a501;
  --color-brand-dark-blue: #14183e;
  --color-brand-light-blue: #5e6282;
  --color-brand-gray: #686d77;
  --color-brand-light-gray: #e5e5e5;
  --color-brand-purple: #6246e5;
  --color-brand-light-yellow: #fff1da;
  --color-brand-teal: #006380;
  --color-brand-light-purple: #dfd7f9;
  --color-brand-dark-gray: #212832;
}

@layer base {
  :root {
    font-size: var(--text-base);
    color: var(--color-brand-light-blue);
  }
  * {
    @apply box-border;
  }
  body {
    font-family: var(--font-sans);
    color: var(--color-brand-light-blue);
    overflow-x: hidden;
  }

  html {
    @apply overflow-x-hidden;
  }

  html.mobile-menu-open,
  html.mobile-menu-open body {
    @apply overflow-hidden h-full;
  }

  h1,
  .h1 {
    font-family: var(--font-serif);
    font-size: var(--text-4xl);
    font-weight: bold;
    line-height: 1.1;
    color: var(--color-brand-dark-blue);
    @variant lg {
      font-size: var(--text-5xl);
    }
    @variant xl {
      font-size: var(--text-6xl);
    }
    span {
      @apply relative;
    }
    span::before {
      content: '';
      background-image: url(/assets/line.svg);
      background-repeat: no-repeat;
      background-size: 300px;
      background-position: 0 100%;
      @apply inline-block absolute bottom-0 h-3 size-full w-0 transition-opacity duration-300 rounded-[10px] -z-1;
      animation: underline 0.5s ease-in-out 1s normal forwards;
    }
  }
  h2,
  .h2 {
    font-family: var(--font-serif);
    font-size: var(--text-3xl);
    font-weight: bold;
    color: var(--color-brand-dark-blue);
    @variant lg {
      font-size: var(--text-4xl);
    }
  }
  h3,
  .h3 {
    font-size: var(--text-3xl);
    font-weight: 600;
    color: var(--color-brand-light-blue);
  }
  h4,
  .h4 {
    font-size: var(--text-2xl);
  }
  h5,
  .h5 {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--color-brand-orange);
    text-transform: uppercase;
  }
  h6,
  .h6 {
    font-size: var(--text-lg);
    color: var(--color-brand-light-blue);
  }
}

@layer components {
  .button {
    @apply inline-flex py-4 px-6.5 text-brand-dark-gray text-lg rounded-[10px] transition-colors duration-300 relative cursor-pointer;
  }
  .button.medium {
    @apply py-2.25 px-5 text-base rounded-[5px];
  }
  .button.outlined {
    @apply border border-brand-dark-gray text-brand-dark-gray bg-white;
  }
  .button.outlined:hover {
    @apply border border-brand-orange;
  }
  .button.orange {
    @apply bg-brand-yellow text-white;
  }
  .button.orange:before {
    content: '';
    @apply absolute inset-0 top-3 size-full blur-lg bg-brand-yellow opacity-20 transition-opacity duration-300 rounded-[10px] -z-1;
  }
  .text-input {
    @apply bg-white rounded-[10px] py-5.25 px-6.25 pl-15 w-full;
  }
}
@layer utilities {
  .container {
    @apply transition-all;
    /* Apply default horizontal margin for centering */
    margin-inline: auto;
    /* Apply default horizontal padding */
    padding-inline: 1rem;

    /* Customize max-width at specific breakpoints using @variant */
    @variant sm {
      max-width: 540px;
    }
    @variant md {
      max-width: 720px;
    }
    @variant lg {
      max-width: 960px;
    }
    @variant xl {
      max-width: 1140px;
    }
    @variant 2xl {
      max-width: 1200px;
    }
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .hero-section {
    @variant lg {
      background-image: url(assets/hero-bg.svg);
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
    }
  }

  /* Newsletter */
  .newsletter {
    @apply max-w-157.5 mx-auto;
  }
  .newsletter form {
    @apply flex gap-6;
  }
  .newsletter input[type='text'] {
    @apply bg-white rounded-[10px] py-5.25 px-6.25 pl-15 w-full;
    background-image: url(assets/mail.svg);
    background-repeat: no-repeat;
    background-position: left 15px center;
  }
  .newsletter button,
  .newsletter input[type='submit'] {
    @apply w-full md:w-auto md:max-w-45 bg-white rounded-[10px] py-5.5 px-12 shrink-0 flex justify-center items-center text-center text-white bg-linear-to-b from-[#FF946D] to-[#FF7D68];
  }

  /* Footer Links */
  .footer-links h3 {
    @apply text-brand-dark-gray text-xl mb-6;
  }
  .footer-links ul {
    @apply flex flex-col gap-3;
  }
  .footer-links ul li {
  }
  .footer-links ul li a {
    @apply text-lg;
  }
  /* Footer Social */
  .footer-social ul {
    @apply flex gap-6;
  }
  .footer-social ul a {
  }
  .footer-social ul a span {
    @apply inline-flex justify-center items-center size-10 shadow rounded-full bg-white  text-brand-dark-blue transition hover:bg-brand-orange hover:text-white;
  }
  .footer-social ul a span svg {
    @apply inline-flex size-4;
  }

  .play-button {
    @apply flex items-center gap-5 relative pl-17.75 cursor-pointer leading-none h-12.75;
  }
  .play-button:after {
    @apply size-12.75 bg-brand-orange rounded-full inline-flex justify-center items-center absolute left-0 top-0;
    content: '';
    background-image: url(assets/play.svg);
    background-repeat: no-repeat;
    background-position: center left 21px;
  }
  .play-button:before {
    content: '';
    @apply absolute inset-0 top-3 size-12.75 blur-lg bg-brand-orange opacity-20 transition-opacity duration-300 rounded-[10px] -z-1;
  }
}

/* Animation */
@keyframes underline {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
